#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  overflow-y: scroll;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0.5em 0;
}
